#components-layout-demo-custom-trigger .trigger-dashboard {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: $primary-color-dark;
}

.logo-dashboard {
  height: 32px;
  margin: 16px;
  background: rgba($box-shadow-color, 0.09);

  img {
    margin: 0 auto;
  }
}

.admin-layout {
  &-header,
  &-content {
    background-color: $white-color;
  }

  &-header {
    padding: 0;
  }

  &-content {
    margin: 2.4rem 1.6rem 0 1.6rem;
    padding: 2.4rem;
    min-height: 28rem;

    a {
      color: $ant-primary-color;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.trigger-dashboard {
  margin-left: 2rem;
  font-size: 2rem;
}

.dashboard__category {
  &-list {
    button {
      span {
        margin: 0;
      }
    }
  }

  &-form {
    .ql-editor {
      min-height: 30rem !important;
      max-height: 100rem;
    }
  }
}

.dashboard__product-form {
  .ant-badge {
    display: inline-block;

    & + .ant-badge {
      margin-right: 1.5rem;
    }

    &:first-child {
      margin-right: 1.5rem;
    }
  }

  h3 {
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.dashboard__product-list,
.dashboard__order-list,
.dashboard__user-list {
  button {
    span {
      margin: 0;
    }
  }
}

.summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white-color;
  padding: 1.5rem 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.15rem 1.75rem 0 rgba($box-shadow-color, 0.15);
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    background-color: $primary-color;
  }

  &--primary {
    background-color: $bg-summary-primary;
  }

  &--success {
    background-color: $bg-summary-success;
  }

  &--info {
    background-color: $bg-summary-info;
  }

  &__section {
    margin-top: 2rem;
  }

  &__title {
    font-size: 2.8rem;
    font-weight: 500;
  }

  &__content {
    width: 80%;
  }

  &__caption {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: $white-color;
    opacity: 0.9;
  }

  &__count {
    color: $white-color;
    font-size: 2.5rem;
    font-weight: 500;
  }

  &__icon {
    font-size: 3.5rem;
  }

  .ant-spin-dot-item {
    background-color: $white-color;
  }
}
