.checkout-steps {
  display: flex;
  width: 100%;
  padding-bottom: 2rem;

  > div {
    width: 25%;
    text-align: center;
    padding: 1rem 0;
    border-bottom: 3px solid $border-color;
  }

  .active {
    border-color: $primary-color;
  }
}
